/* Workspaces                                  */

/* Black outer circle workspaces color */
@define-color workspaces-background1 #5A5C59;

/* Inned circle workspaces color */
@define-color workspaces-background2 #0F5076;

/* White font for workspace numbers*/
@define-color textcolor1 #FFFFFF;
/*                                             */

/* Widgets                                     */

/* Color used for cpu, memory etc... */
@define-color underline #900136;

/* Color used for pacman updates */
@define-color iconcolor2 #FFFFFF;
@define-color icon-color-background1 #0F5076;
@define-color icon-color-background2 #EF6C00;

/* Border color for memory, cpu, volume etc...*/
@define-color border-color #1891CD;

/* Wrap color for memory, cpu, volume etc...*/
@define-color box-shadow-color #FFFFFF;

/*                                             */ 

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "Terminess Nerd Font";
    font-size: 18px;
}

/* Main waybar CSS style*/
window#waybar {
    background: rgba(12, 12, 12, 0.0);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
}

#workspaces {
    background: transparent;
    margin: 5px 1px 6px 1px;
    padding: 0px 1px;
    border-radius: 15px;
    font-weight: bold;
    font-style: normal;
    opacity: 0.8;
    color: @textcolor1;
}

#workspaces button {
    background: transparent;
    padding: 0px 5px;
    margin: 4px 3px;
    border: 0px;
    color: @textcolor1;
    transition: all 0.3s ease-in-out;
    opacity: 0.4;
}

#workspaces button.active {
    color: @textcolor1;
    background: transparent; 
    border-radius: 15px;
    min-width: 40px;
    transition: all 0.3s ease-in-out;
    opacity:1.0;
}

#workspaces button:hover {
    color: @textcolor1;
    background: @workspaces-background2;
    border-radius: 15px;
    opacity:0.7;
    box-shadow: 0px -0px rgba(15, 80, 118, 1);
}

#memory,
#cpu,
#language,
#custom-clock,
#pulseaudio,
#backlight {
    background: transparent;
    border: 7px solid transparent;
    box-shadow: inset 0 -4px #0376f3;
    font-size: 14px;
    /*font-weight: bold;*/
    font-style: normal;
    color: @iconcolor1;
}

#battery {
    background: transparent;
    border: 7px solid transparent;
    box-shadow: inset 0 -4px #ffffff;
    font-size: 14px;
    font-style: normal;
    color: @iconcolor1;
}

#battery.warning {
    background: transparent; 
    border: 7px solid transparent;
    box-shadow: inset 0 -4px #ff9001;
    font-size: 14px;
    font-style: normal;
    color: @iconcolor1;
}

#battery.critical {
    background: transparent; 
    border: 7px solid transparent;
    box-shadow: inset 0 -4px #e50000;
    font-size: 14px;
    font-style: normal;
    color: @iconcolor1;
}

#custom-pacman { 
    background: transparent; 
    border: 7px solid transparent;
    box-shadow: inset 0 -4px #e7b63b;
    font-size: 14px;
    font-style: normal;
    color: @iconcolor1;
}

#tray {
    background: transparent; 
    border: 7px solid transparent;
    box-shadow: inset 0 -4px #e50000;
    font-size: 14px;
    font-style: normal;
}

