@define-color backgroundlight #FFFFFF;
@define-color backgrounddark #FFFFFF;
/* Black outer circle workspaces */
@define-color workspaces-background1 #000000;
/* Forest green */
@define-color workspaces-background2 #EDF2F5;
/* @define-color bordercolor #9FC5E8; */
/* Black font */
@define-color textcolor1 #000000;
@define-color textcolor2 #000000;
@define-color textcolor3 #FFFFFF;
/* Color used for cpu, memory etc... */
@define-color iconcolor1 #000000;
/* Color used for pacman updates */
@define-color iconcolor2 #FFFFFF;
@define-color icon-color-background1 #EDF2F5;
@define-color icon-color-background2 #EF6C00;

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "Fira Sans Semibold", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

/* Main waybar CSS style */
window#waybar {
    background: rgba(12, 12, 12, 0.1);
    color: #000000;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
}

#workspaces {
    background: @workspaces-background1;
    margin: 5px 1px 6px 1px;
    padding: 0px 1px;
    border-radius: 15px;
    border: 0px;
    font-weight: bold;
    font-style: normal;
    opacity: 0.8;
    font-size: 16px;
    color: @textcolor1;
}

#workspaces button {
    padding: 0px 5px;
    margin: 4px 3px;
    border-radius: 15px;
    border: 0px;
    color: @textcolor1;
    background-color: @workspaces-background2;
    transition: all 0.3s ease-in-out;
    opacity: 0.4;
}

#workspaces button.active {
    color: @textcolor1;
    background: @workspaces-background2;
    border-radius: 15px;
    min-width: 40px;
    transition: all 0.3s ease-in-out;
    opacity:1.0;
}

#workspaces button:hover {
    color: @textcolor1;
    background: @workspaces-background2;
    border-radius: 15px;
    opacity:0.7;
}

#disk,#memory,#cpu,#language,#custom-clock,#custom-dunst,#pulseaudio {
    background: @icon-color-background1;
    margin: 5px 1px 6px 1px;
    /* Padding is the hight of the the widgets */
    padding:2px;
    border: 0px;
    /* Rounded corners */
    border-radius: 15px;
    font-size:14px;
    font-weight: bold;
    font-style: normal;
    color:@iconcolor1;
}

#custom-pacman { 
    background: @icon-color-background2;
    margin: 5px 1px 6px 1px;
    /* Padding is the hight of the the widgets */
    padding:2px;
    border: 0px;
    /* Rounded corners */
    border-radius: 15px;
    font-size:14px;
    font-weight: bold;
    font-style: normal;
    color:@iconcolor2;
}
