/* Workspaces                                    */
@define-color textcolor1 #ffba24;
@define-color wsunderlinecolor #fb4a58;
@define-color wsunderlinecoloractive #db154d;
@define-color wsunderlinecolorurgent #75ecf8;
/*                                               */

/* CPU, memory, brightness, volume, date */
@define-color cpu #0376f3;
@define-color pacmancolor #e7b63b;
@define-color traycolor #5270d3;
/*                                               */

/* Battery                                       */
@define-color normal #ffffff;
@define-color warning #ff9001;
@define-color critical #e50000;
/*                                               */

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "JetBrainsMonoNL Nerd Font";
    min-height: 0;
    font-weight: 500;
    font-size: 18px;
    padding: 0;
    /*font-size: 11px;*/
}

/* Main waybar CSS style*/
window#waybar {
    background: linear-gradient(135deg, #012350 10%, #012350 15%, #0d669c 20%, #0d669c 80%, #0057b2 80%, #0057b2 100%);
    padding-left: 10px;
    padding-right: 10px;
    border: 4px solid #b2ced1;
    border-radius: 15px;
}

#workspaces {
    font-size: 14px;
    background: transparent;
    box-shadow: none;
    margin: 5px 1px 6px 1px;
    padding: 0px 10px;
    border-radius: 15px;
    font-weight: bold;
    opacity: 0.8;
    color: @textcolor1;
    text-shadow: none;
}

#workspaces button {
    all: initial;
    /*background: transparent;*/
    /*border-radius: 0;*/
    box-shadow: inset 0 -3px transparent;
    font-style: italic;
    margin: 4px 5px;
    padding-right: 5px;
    transition: all 0.3s ease-in-out;
    /*opacity: 0.9;*/
}

#workspaces button.active {
    color: @textcolor1;
    background: transparent; 
    /*border-radius: 0;*/
    min-width: 20px;
    transition: all 0.3s ease-in-out;
    /*opacity:1.0;*/
}

#workspaces button.urgent {
    color: @textcolor1;
    background: transparent; 
    border-radius: 0;
    min-width: 40px;
    transition: all 0.3s ease-in-out;
    opacity:1.0;
}

#workspaces button:hover {
    /*background: rgba(0, 0, 0, 0.2);*/
    /*border: rgba(0, 0, 0, 0.2);*/
    color: @textcolor1;
    /*outline: none;*/
}

#memory,
#cpu,
#language,
#wireplumber,
#backlight {
    background: rgb(205,214,244);
    background: transparent;
    border: 7px solid transparent;
    font-size: 18px;
    /*font-weight: bold;*/
    font-style: italic;
    color: @iconcolor1;
}

#battery {
    background: transparent;
    border: 7px solid transparent;
    font-size: 14px;
    font-style: normal;
    color: @iconcolor1;
}

#battery.warning {
    background: transparent; 
    border: 7px solid transparent;
    font-size: 18px;
    font-style: italic;
    color: #000000;
}

#battery.critical {
    background: transparent; 
    border: 7px solid transparent;
    font-size: 18px;
    font-style: italic;
    color: @iconcolor1;
}

#clock {
    background: rgb(205,214,244);
    background: transparent;
    border: 7px solid transparent;
    font-size: 18px;
    /*font-weight: bold;*/
    font-style: italic;
    color: @iconcolor1;
    padding-right: 8px;
}

#custom-pacman { 
    background: transparent; 
    border: 7px solid transparent;
    font-size: 18px;
    font-style: italic;
    color: @iconcolor1;
    padding-left: 10px;
}

#tray {
    background: transparent; 
    border: 3px solid transparent;
    margin: 5px 1px 8px 10px;
    padding: 2px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    font-style: normal;
}
