/* going to apply to add entry */

window {
    font-size: 20px;
    font-family: "Fira Code Nerd Font Mono";
    margin: 10px;
    border: 3px solid #CCCCC8;
    background: linear-gradient(45deg, rgba(15, 80, 118, 1) 50%, rgba(15, 80, 118, 1) 50%, rgba(24, 145, 205, 1) 90%, rgba(24, 145, 205, 1) 90%);
    border-radius: 15px;
    color: white;
}

#outer-box {
    margin: 3px;
    padding: 15px;
}

#entry {
    padding: 8px;
    border-radius: 6px;
}

#entry:selected {
    background-color: #bbccdd;
    background: linear-gradient(90deg, #bbccdd, ##227df3);
}

#text {
    padding: 5px;
}

#text:selected {
    color: black;
}

#input {
    margin-bottom: 15px;
    border: 2px solid #FFFFFF;
    padding: 3px;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(191,224,241,1) 58%, rgba(24,145,205,1) 96%); 
    color: black;
}

